extends layout

block content
  .row
    .span4.offset4
      .contents.well.account-settings
        h3 Password Settings
        form(method='POST', action='/admin/account')
          input(type='hidden', name='op', value='password')
          label Current Password:
          input(type='password', name='oldPassword')
          label New Password:
          input(type='password', name='password')
          label Repeat Password:
          input(type='password', name='password2')
          button.btn(type='submit', name='login') Change Password
  if errorMessage
    .row
      .span4.offset4
        .alert.alert-info
          i.icon-exclamation-sign
          span #{errorMessage}
  