extends layout

block content
  #login_form
  if loginFailed
    p login failed.
  h2 nblog login:
  form(method='POST', action='/admin/login')
    label#label_username
      | USERNAME:
      input(type='text', name='uname', value=uname)
    label#label_password
      | PASSWORD:
      input(type='password', name='passwd')
    input(type='submit', name='login')