{
  "databaseAuth": {
    "user": "nblogadmin",
    "database": "nblog",
    "password": "",
    "host": "localhost",
    "port": 3306
  },
  "blogInfo": {
    "title": "nodeWeblog",
    "description": "nodeWeblog blog system"
  },
  "cookieHash": "somethingforhash",
  "useProxy": false,
  "proxyUrl": "http://example.net:80",
  "proxyHost": "example.net"
}
