{
  "databaseAuth": {
    "user": "admin",
    "database": "nblog",
    "password": "set password here",
    "host": "example.com",
    "port": 3333
  },
  "blogInfo": {
    "title": "nodeWeblog",
    "description": "nodeWeblog blog system"
  },
  "cookieHash": "somethingforhash",
  "port": 80,
  "accessLog": "/var/log/nodeweblog_access.log",
  "useProxy": false,
  "proxyUrl": "http://example.com:80",
  "proxyHost": "example.com"
}
