

.login {
  padding-top: 20px;
}

.navbar-space {
  height:40px;
}

.account-settings {
  margin-top: 20px;
}

.center {
  text-align: center;
}

.storyeditor input,
.storyeditor textarea {
  width: 100%;
}