
* {
  color: #444;
  margin: 0;
  padding: 0;
}

dd {
  margin-bottom: 0.5em;
}

p, pre, .block {
  margin-bottom: 1em;
}

/* header */
header {
  border-bottom: 1px solid;
  margin-bottom: 1em;
}

header h1 {
  display: inline; 
}
header .description {
  display: inline; 
  font-size: 100%;
  font-weight: normal;
}

/* footer */
footer {
  color: #AAA;
}

/* admin */
.login {
  padding-top: 20px;
}

.storyeditor input,
.storyeditor textarea {
  width: 100%;
}

.account-settings {
  margin-top: 20px;
}

/* navigation bar */
.navbar-space {
  height:40px;
}

/* common */
.center {
  text-align: center;
}

/* sidebar */
.sidebar-box {
  margin-bottom: 2em;
  padding: 0 8px;
}

.sidebar-box h3 {
  color: #777;
  font-size: 120%;
  border-bottom: 1px solid #AAA;
  margin-bottom: 4px;
}

.sidebar-box .box-contents {
  padding: 0 2px;
}

/* story */
.story {
  margin-bottom: 2em;
  border-bottom: 1px dotted #AAA;
}
.story h2 {
}

.story .body {
  margin-bottom: 2em;
}

.story .header {
  color: #AAA;
  margin-bottom: 1em;
}

.story .footer {
  color: #AAA;
  margin-bottom: 1em;
}